* {
  box-sizing: border-box;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-style: solid;
  background-color: #800080;
  border-radius: 15px;
  text-align: center;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: aqua;
  max-width: 1100px;
  margin: auto;
}

p {
  font-family: sans-serif;
  border-style: solid;

  border-radius: 15px;
  font-size: 25px;
  max-width: 80ch;
}

.answers {
  background-color: #00ff00;
  padding: 1rem;
  margin: 0;
  transition: 0.2s;
}

.closed-answer {
  max-height: 0;
  padding: 0 1rem;
  overflow: hidden;
}

img {
  width: 100%;
}

@media (max-width: 800px) {
}

@media (max-width: 480px) {
}
